<h1>Editing bookshelf</h1>

<%= render "form", bookshelf: @bookshelf %>
<div style = "padding-bottom: 40px">
  <%= link_to "Back to bookshelf", @bookshelf%> 
</div>
<div>
  <strong> Destroy this bookshelf? This action cannot be undone! </strong>
  </br>
  <%= button_to "Destroy this bookshelf", @bookshelf, method: :delete, style: "background-color:red"%>
  </div>
