<div>
  
  <%= link_to "Edit this bookshelf", edit_bookshelf_path(@bookshelf) %>

  
</div>

<%= render @bookshelf %>

<div>
  
  <%= link_to "Edit this bookshelf", edit_bookshelf_path(@bookshelf) %> | <%= link_to "Back to bookshelves", bookshelves_path %>

</div>
