<div>
  <%= link_to "Back to bookshelves", bookshelves_path %>
  <%= link_to "Edit this bookshelf", edit_bookshelf_path(@bookshelf) %> |

  <%= button_to "Destroy this bookshelf", @bookshelf, method: :delete %>
</div>

<%= render @bookshelf %>
