<h1>Editing Your Book</h1>

<%= render "form", book: @book %>

<br>

<div>
<div style = "padding-top: 40px">
    <strong> Destroy this book? This action cannot be undone! </strong>
  </br>
  <%= button_to "Destroy this book", @book, method: :delete, style: "background-color:red" %>
</div>
  <%= link_to "Show this book", @book %> |
  <%= link_to "Back to books", books_path %> 
</div>
